# Set up disk cache for faster local rebuilds.
build --disk_cache=.bazel-disk-cache

# Use clang for C/C++ compilation.
build --action_env=CC=clang
build --action_env=CXX=clang++

# Activate CI-specific config using ci.bazelrc, which is written when in CI.
try-import %workspace%/ci.bazelrc
