# Agent
/.agent_workspace/

# Bazel
/bazel-*
/.bazel-disk-cache/
MODULE.bazel.lock

# Bazel CI config (written by CI workflow, contains API key).
/ci.bazelrc

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
.venv/
uv.lock

# pytest
.pytest_cache/

# ruff
.ruff_cache/

# Sphinx
/docs/_build/

# IDE
.idea/
.vscode/
*.swp
